openapi: 3.1.0
info:
  title: Greentic Store API
  version: "1.0"
  license:
    name: MIT
  description: |
    HTTP API contract for the Greentic Store. Implemented by the
    `greentic-store-server` repo. Consumed by `gtdx` via the
    `GreenticStoreRegistry` client in this workspace.

servers:
  - url: https://store.greentic.ai

paths:
  /api/v1/extensions:
    get:
      summary: Search / list extensions
      parameters:
        - in: query
          name: kind
          schema:
            enum: [design, bundle, deploy]
        - in: query
          name: capability
          schema:
            type: string
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtensionSummary'
    post:
      summary: Publish an extension (authenticated)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: string
                  description: JSON-encoded PublishRequest
                artifact:
                  type: string
                  format: binary
      responses:
        "201":
          description: created
        "401":
          description: unauthorized

  /api/v1/extensions/{name}:
    get:
      summary: Get extension overview + all versions
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionDetail'
        "404":
          description: not found

  /api/v1/extensions/{name}/{version}:
    get:
      summary: Get metadata for a specific version
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
        - in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionMetadata'
        "404":
          description: not found

  /api/v1/extensions/{name}/{version}/artifact:
    get:
      summary: Download the raw .gtxpack artifact
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
        - in: path
          name: version
          required: true
          schema:
            type: string
      responses:
        "200":
          description: artifact bytes
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          description: not found

  /api/v1/auth/login:
    post:
      summary: Exchange credentials for a token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    ExtensionSummary:
      type: object
      required: [name, latestVersion, kind, summary]
      properties:
        name:
          type: string
        latestVersion:
          type: string
        kind:
          enum: [DesignExtension, BundleExtension, DeployExtension]
        summary:
          type: string
        downloads:
          type: integer
          default: 0

    ExtensionDetail:
      type: object
      required: [name, versions]
      properties:
        name:
          type: string
        versions:
          type: array
          items:
            type: string
        latestVersion:
          type: string
        kind:
          enum: [DesignExtension, BundleExtension, DeployExtension]

    ExtensionMetadata:
      type: object
      required: [describe, artifactSha256]
      properties:
        describe:
          type: object
          description: Full describe.json content
        artifactSha256:
          type: string
        publishedAt:
          type: string
          format: date-time
        yanked:
          type: boolean
          default: false
